<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Click the link below to accept the invite and set your password.</p>
    <p><%= link_to "Sign up", @url %></p>
  </body>
</html>