<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%% You dumb bastard I cannot believe you forgot your password! %></h1>
    <p><%% Click the link below to reset your password. %></p>
    <p><a href=""><%% Reset Password %></a></p>
    <p>Here is the token: <%= @user.reset_password_token %></p>
  </body>
</html>