<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><Click the link below to reset your password.</p>
    <p><%= link_to "Reset password", @url %></p>
  </body>
</html>